[remote "kubernetes"]
    url = git@github.com:kubernetes/examples.git
    fetch = +refs/heads/*:refs/remotes/kubernetes/*
[remote "github"]
    url = git@github.com:huangyingw/examples.git
    fetch = +refs/heads/*:refs/remotes/github/*
[push]
    remote = github
[gsync]
    remote = kubernetes
    branch = master
[merge]
	allow = true
[branch "dev"]
    remote = github
    merge = refs/heads/dev
[branch "master"]
    remote = kubernetes
    merge = refs/heads/master
[commit]
	message = n
[vrun]
	silent = false
	async = false
[deploy]
	host = localhost
	path = ~/myproject/git/Kubernetes/kubernetes/examples
